{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <h1>Your Profile</h1>
</div>
<br>
<div class="row justify-content-center">
    <p>Welcome to your user page, <em>{{ username }}! </em></p>
</div>

<div class="container-fluid mainContent">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row justify-content-center">
                    </div>
                    <div style="width:33%; float:left;" class="card">
                        <div class="card-header">
                            <center>
                                <h2> Recent Content </h2>
                                <em> What have you written recently? </em> 
                            </center>
                        </div>
                        <div class="card-body">
                            <h3> {{ texts }} </h3>
                        </div>
                    </div>
                    <div style="width:33%; float:right;" class="card">
                        <div class="card-header">
                            <center>
                                <h2> Writing Analytics </h2>
                                <em> Learn exciting facts about your writing! </em> 
                            </center>
                        </div>
                        <div class="card-body">
                            <h3> {{ analytics }} </h3>
                        </div>
                    </div>
                    <div style="width:33%; float:right;" class="card">
                        <div class="card-header">
                            <center>
                                <h2> Recent Comments </h2>
                                <em> What have you been telling people lately? </em> 
                            </center>
                        </div>
                        <div class="card-body">
                            <h3> {{ comments }} </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

