{% extends "base.html" %}

{% block content %}
<h1>USER PAGE</h1>

  <p>Welcome to your user page, {{ username }}!</p>

<div class="container-fluid mainContent">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row justify-content-center">
                        <div class="col-10 siteTitle">
                            <h1> Your Page </h1> 
                        </div>
                    </div>
                    <div style="width:33%; float:left;" class="card">
                        <div class="card-header">
                            <center>
                                <h2> Recent Content </h2>
                                <em> What have you written recently? </em> 
                            </center>
                        </div>
                        <div class="card-body">
                            <h3> &quot;Lorem ipsum&quot; </h3>
                            <!--img-->
                            <br>Highest Rated Tags: <em>&quot;Happy&quot;, &quot;Boats&quot; </em>
                            <br>
                            <h3> &quot;Epsum factorial&quot; </h3>
                            <!--img-->
                            <br>Highest Rated Tags: <em>&quot;Adult&quot;, &quot;Boats&quot; </em>
                        </div>
                    </div>
                    <div style="width:33%; float:right;" class="card">
                        <div class="card-header">
                            <center>
                                <h2> Writing Analytics </h2>
                                <em> Learn exciting facts about your writing! </em> 
                            </center>
                        </div>
                        <div class="card-body">
                            <h3> Mood: <em> 66% Happy </em> </h3>
                            <h3> Boats Average: <em> 100% </em> </h3>
                        </div>
                    </div>
                    <div style="width:33%; float:right;" class="card">
                        <div class="card-header">
                            <center>
                                <h2> Recent Comments </h2>
                                <em> What have you been telling people lately? </em> 
                            </center>
                        </div>
                        <div class="card-body">
                            <h3> On &quot;Lorem factorial&quot; by space_bob88 </h3>
                            <br>&quot;You definitely could improve the happiness of this piece by adding
                            some text relating to...&quot;
                            <br> <em> Commented 2 days ago </em>
                            <h3> On &quot;Epsum ipsum&quot; by RachelTheHero </h3>
                            &quot;Nice work here! You really give me the impression that you know
                            about boats.&quot;
                            <br> <em> Commented 1 week ago </em>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

