{% extends "base.html" %}

{% block content %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            Your Submission
        </div>
        <div class="card-body">
            {{ mock_text }}
        </div>
        <table
                class="table">
            <thead>
            <tr>
                <th>Insights</th>
                <th>Probability</th>
            </tr>
            </thead>
            <tbody>
                {% for item in mock_insights %}
                    <tr>
                        <td>
                            {{ item.tone }}
                        </td>
                        <td>
                            {{ item.probability }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <button type="submit" onclick="location.href = 'textinput.html';" class="btn btn-primary">New Submission</button>
    <button type="submit" onclick="location.href = 'textinput.html';" class="btn">Edit Submission</button>
</div>
{% endblock %}
