{% extends "base_2col.html" %}

{% block title %}<title>Textifai - Global Insights</title>{% endblock %}

{% block page_head %}
<h1>Global Insights</h1>
{% endblock %}

{% block left_col %}
<div class="insightCard">
	<img class="img-fluid" src="http://www.conceptdraw.com/solution-park/resource/images/solutions/pie-charts/Graphs-and-Chatrs-Pie-Chart-2008-Autogas-Consumption.png" />
	<span class="insightLabel">Submission Location</span>
</div>
<div class="block">
	<div class="insightCard">
		<span class="insightVal">1672</span>
		<span class="insightLabel">Total Words</span>
	</div>
	<div class="insightCard">
		<span class="insightVal">52</span>
		<span class="insightLabel">Total Entries</span>
	</div>
	<div class="insightCard">
		<span class="insightVal">24</span>
		<span class="insightLabel">Average Words Per Entry</span>
	</div>
	<div class="insightCard">
		<span class="insightVal">70%</span>
		<span class="insightLabel">Positivity</span>
	</div>
</div>
{% endblock %}

{% block right_col %}
<div class="row justify-content-center">
	<h3>Your contributions</h3>
</div>
<div class="insightCard">
	<span class="insightVal">251</span>
	<span class="insightLabel">Total Words</span>
</div>

<div class="insightCard">
	<span class="insightVal">4</span>
	<span class="insightLabel">Text Entries</span>
</div>
<div class="insightCard">
	<span class="insightVal">+3%</span>
	<span class="insightLabel">Positivity</span>
</div>
{% endblock %}

