{% extends "base_2col.html" %}

<!-- Right Column -->
{% block left_col %}
<h2>Recent Entries</h2>
{% for entry in recent %}
	<div class="recentCard">
		{% if entry.title %}
			<h3>{{ entry.title|safe }}</h3>
		{% else %}
			<h3>{{ entry.time_created }}</h3>
		{% endif %}
		<p class="content">{{ entry.content|safe }}</p>
		<a href="{% url 'featureoutput' %}">View Text</a>
	</div>
{% endfor %}
{% endblock %}

<!-- Left Column -->
{% block right_col %}

{% endblock %}

<!-- Scripts -->
{% block inline_js %}
<script>
	let content = document.querySelectorAll('.content');
	content.forEach((i) => {
		if (i.innerText.length > 500) i.innerText = i.innerText.substring(0, 400) + '...';
	});
</script>
{% endblock %}