{% extends "base.html" %}

{% block page_head %}
<h1>Textifai</h1>
<form method="POST" action="" class="search">
	{% csrf_token %}		
	<input name="search_input" id="id_search_input" type="search" placeholder="Search"><input type="submit" value=" ">
</form>
{% endblock %}

{% block content %}
<h2>Search Results</h2>
{% if results %}
	{% for entry in results %}
		<div class="insightCard recents">
			{% if entry.title %}
				<h3>{{ entry.title }} <span class="author">By: {{ entry.user }}</span></h3>
			{% else %}
				<h3>{{ entry.time_created }} <span class="author">By: {{ entry.user }}</span></h3>
			{% endif %}
			<p class="content">{{ entry.content }}</p>
			<a href="{% url 'featureoutput' pk=entry.m_id %}">View Text</a>
		</div>
	{% endfor %}
{% else %} 
	<p>No results found.</p>
{% endif %}
{% endblock %}

<!-- Scripts -->
{% block inline_js %}
<script>
	let content = document.querySelectorAll('.content');
	content.forEach((i) => {
		if (i.innerText.length > 500) i.innerText = i.innerText.substring(0, 400) + '...';
	});
</script>
{% endblock %}