body {
  margin: 0;
}

.account-nav-link {
  margin-left: auto;
}

.log {
  margin-left: 20px;
}

.mainContent {
  margin-top: 40px;
}

.siteTitle {
  margin-bottom: 20px;
}

.recents {
  text-align: left !important;
}

.author {
  font-size: 66%;
  font-style: italic;
}

.search {
  width: 100%;
  display: flex;
}

.search input {
  display: inline-block;
  margin: 0;
  padding: 2px 20px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background-color: white;
  flex: 1;
}

.search input[type="search"] {
  border-right: none;
}
.search input[type="submit"] {
  max-width: 100px;
  border-left: none;
  text-align: right;
  background-image: url('../images/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 85%;
}

.genInsights {
  border-left: 2px solid #343a40;
}

.insightCard {
  background-color: #eee;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 25px 10px;
  width: 100%;
}

.insightVal {
  display: block;
  font-size: 2em;
}

.insightLabel {
  display: block;
  font-size: 1em;
}

.preview {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 15px;
}

.genPage .insightCard {
  display: inline-block;
}

